---
import LanguagePicker from '@src/components/LanguagePicker.astro';
import ToggleTheme from './ToggleTheme.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const indexURL = getRelativeLocaleUrl(lang, "/");
const aboutURL = getRelativeLocaleUrl(lang, "about");
const vitarURL = getRelativeLocaleUrl(lang, "vitae");
const projectsURL = getRelativeLocaleUrl(lang, "projects");
const resumeURL = getRelativeLocaleUrl(lang, "resume");
---

<div class="navbar mb-20 fixed z-50 bg-opacity-95 shadow-md">
    <div class="navbar-start flex justify-between">
      <a href={indexURL} class="btn btn-ghost text-xl">{t('navbar.title')}</a>
    </div>
    <div class="navbar-center hidden md:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href={indexURL}>{t('navbar.home')}</a></li>
        <li><a href={aboutURL}>{t('navbar.about')}</a></li>
        <li><a href={vitarURL}>{t('navbar.vitae')}</a></li>
        <li><a href={projectsURL}>{t('navbar.projects')}</a></li>
        <li><a href={resumeURL}>{t('navbar.resume')}</a></li>
      </ul>
    </div>
    <div class="navbar-end hidden md:flex">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost m-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M18 4a1 1 0 1 0-2 0v1H4a1 1 0 0 0 0 2h12v1a1 1 0 1 0 2 0V7h2a1 1 0 1 0 0-2h-2zM4 11a1 1 0 1 0 0 2h2v1a1 1 0 1 0 2 0v-1h12a1 1 0 1 0 0-2H8v-1a1 1 0 0 0-2 0v1zm-1 7a1 1 0 0 1 1-1h12v-1a1 1 0 1 1 2 0v1h2a1 1 0 1 1 0 2h-2v1a1 1 0 1 1-2 0v-1H4a1 1 0 0 1-1-1"/></g></svg>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li class="w-fit"><ToggleTheme /></li>
          <LanguagePicker />
        </ul>
      </div>
    </div>
    <div class="navbar-end md:hidden">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 right-0 gap-2">
          <li><a href={indexURL}>{t('navbar.home')}</a></li>
          <li><a href={aboutURL}>{t('navbar.about')}</a></li>
          <li><a href={vitarURL}>{t('navbar.vitae')}</a></li>
          <li><a href={projectsURL}>{t('navbar.projects')}</a></li>
          <li><a href={resumeURL}>{t('navbar.resume')}</a></li>
          <li></li>
          <li class="w-fit"><ToggleTheme /></li>
          <LanguagePicker />
        </ul>
      </div>
    </div>
  </div>

  <div class="lg:h-36 h-28"></div>

<script is:inline>
  function updateNavbarColor() {
    const navbar = document.querySelector('.navbar');
    const theme = localStorage.getItem('theme');
    const lightNavbarBg = "bg-gray-200";
    const darkNavbarBg = "bg-custom-purple";
    let color = theme === 'light' ? lightNavbarBg : darkNavbarBg;
  
    navbar?.classList.remove(lightNavbarBg, darkNavbarBg);

    if (window.scrollY > 0) {
      navbar?.classList.add(color);
    } else {
      navbar?.classList.remove(color);
    }
  }

  window.addEventListener('scroll', updateNavbarColor);
  window.addEventListener('storage', updateNavbarColor);

</script>

<style>
  .navbar {
    transition: background-color 0.3s;
  }
  .navbar a {
    font-size: 1.3rem;
  }
  .navbar {
        @apply lg:pl-10 lg:pr-10 xl:pl-20 xl:pr-20 2xl:pl-80 2xl:pr-80;
    }
</style>