---
import LanguagePicker from '@src/components/LanguagePicker.astro';
import ToggleTheme from './ToggleTheme.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const indexURL = getRelativeLocaleUrl(lang, "/");
const vitarURL = getRelativeLocaleUrl(lang, "vitae");
const projectsURL = getRelativeLocaleUrl(lang, "projects");
const resumeURL = getRelativeLocaleUrl(lang, "resume");
---

<div class="navbar mb-20 fixed z-50 bg-opacity-95 shadow-md">
    <div class="navbar-start flex justify-between">
      <a href={indexURL} class="btn btn-ghost text-xl">{t('navbar.title')}</a>
    </div>
    <div class="navbar-center hidden md:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href={indexURL}>{t('navbar.about')}</a></li>
        <li><a href={vitarURL}>{t('navbar.vitae')}</a></li>
        <li><a href={projectsURL}>{t('navbar.projects')}</a></li>
        <li><a href={resumeURL}>{t('navbar.resume')}</a></li>
      </ul>
    </div>
    <div class="navbar-end hidden md:flex">
      <div class="mr-4">
        <ToggleTheme />
      </div>
      <LanguagePicker />
    </div>
    <div class="navbar-end md:hidden">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost md:hidden" onclick="toggleDropdown()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-lg bg-base-100 rounded-box w-52 right-0 hidden">
          <li><a href={indexURL}>{t('navbar.about')}</a></li>
          <li><a href={vitarURL}>{t('navbar.vitae')}</a></li>
          <li><a href={projectsURL}>{t('navbar.projects')}</a></li>
          <li><a href={resumeURL}>{t('navbar.resume')}</a></li>
          <li></li>
          <li class="w-fit"><ToggleTheme /></li>
          <li class="w-fit"><LanguagePicker /></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="h-36"></div>

<script is:inline>
  function toggleDropdown() {
    const dropdown = document.querySelector('.dropdown-content');
    dropdown?.classList.toggle('hidden');
  }

  function updateNavbarColor() {
    const navbar = document.querySelector('.navbar');
    const theme = localStorage.getItem('theme');
    const lightNavbarBg = "bg-gray-200";
    const darkNavbarBg = "bg-custom-purple";
    let color = theme === 'light' ? lightNavbarBg : darkNavbarBg;
  
    navbar?.classList.remove(lightNavbarBg, darkNavbarBg);

    if (window.scrollY > 0) {
      navbar?.classList.add(color);
    } else {
      navbar?.classList.remove(color);
    }
  }

  window.addEventListener('scroll', updateNavbarColor);
  window.addEventListener('storage', updateNavbarColor);

</script>

<style>
  .navbar {
    transition: background-color 0.3s;
  }
  .navbar a {
    font-size: 1.3rem;
  }
  .navbar {
        @apply lg:pl-10 lg:pr-10 xl:pl-20 xl:pr-20 2xl:pl-80 2xl:pr-80;
    }
</style>